<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head"></head>

<body>
<div th:replace="base-layout :: header"></div>
<div class="container hero-unit">
    <h1>Dashboard</h1>
    <div th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
    <a th:href="@{/user/profile}">Profile</a>

<div sec:authorize="hasAuthority('USER')">
    <input type="button" onclick="location.href='/book/random';" value="Випадкова книжка"/>
    <input type="button" onclick="location.href='/book/list';" value="Список всіх книжок"/>
    <input type="button" onclick="location.href='/book/available';" value="Список доступних книжок"/>
    <input type="button" onclick="location.href='/book/taken';" value="Список взятих книжок"/>
</div>
</div>
</body>
</html>