<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>My library homepage</title>
    <link rel="shortcut icon" type="image/png" href="/images/library-logo.png">
</head>
<body>
    <div id="header">
        <h1>Ласкаво просимо до нашої бібліотеки</h1>
    </div>
    <div id="button">
        <p>Наразі тут немає що робити. Натисніть кнопку і отримайте випадкову книжку</p>
        <input type="button" onclick="location.href='/random-book';" value="Випадкова книжка" />
        <input type="button" onclick="location.href='/book-list';" value="Список книжок" />
    </div>
    <div sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign in</a> | <a th:href="@{/registration}">Sign up</a></div>
    <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></div>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
        <div sec:authentication="name">
            The value of the "name" property of the authentication object should appear here.
        </div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasAuthority('USER')">
        This content is only shown to users.
    </div>
    <div sec:authorize="hasAuthority('LIBRARIAN')">
        This content is only shown to librarian.
    </div>
</body>
</html>
