<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My library homepage</title>
    <link rel="shortcut icon" type="image/png" href="/images/library-logo.png">
</head>
<body>
    <div id="header">
        <h1>Ласкаво просимо до нашої бібліотеки</h1>
    </div>
    <div id="button">
        <p>Наразі тут немає що робити. Натисніть кнопку і отримайте випадкову книжку</p>
        <input type="button" onclick="location.href='/random-book';" value="Випадкова книжка" />
        <input type="button" onclick="location.href='/book-list';" value="Список книжок" />
    </div>
    <a th:href="@{/login}">Sign in</a> | <a th:href="@{/registration}">Sign up</a>

</body>
</html>