<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head"></head>

<body>
<div th:replace="base-layout :: header"></div>
<div class="container">
    <h1 th:text="${title}">Книжки</h1>
    <div th:if="${booklogs.isEmpty()}">
        <h2>У Вас немає неповернутих книжок</h2>
    </div>
    <div th:if="${!booklogs.isEmpty()}">
        <table class="table">

            <thead>
            <th>Authors</th>
            <th>Title</th>
            <th>Видано</th>
            <th>Повернути</th>
            </thead>
            <tbody>
            <tr th:each="record : ${booklogs}">
                <td>
                    <div th:each="a : ${record.book.author}" th:text="${a.firstname} + ' ' + ${a.lastname}"></div>
                </td>
                <td th:text="${record.book.title}"></td>
                <td th:text="${#dates.format(record.handout, 'dd-MM-yyyy')}"></td>
                <td><a th:href="@{/book/return(recordId=${record.id})}">Повернути</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <input type="button" onclick="location.href='/book/list';" value="Список всіх книжок"/>
    <input type="button" onclick="location.href='/book/available';" value="Список доступних книжок"/>
</div>
</body>
</html>