<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>My library user profile</title>
    <link rel="shortcut icon" type="image/png" href="/images/library-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container hero-unit">
    <h1>Profile</h1>
    <table>
        <tr>
            <td rowspan="3">
                <div th:if="${user.photo == null}"><img width="200" src="images/220px-User_icon_2.svg.png"></div>
                <div th:unless="${user.photo == null}"><img width="200" th:src="'/resources/uploads/' + ${user.photo}"></div>
                <form align="center" action="uploadPhoto" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="selectedFile" style="display: none;" onchange="form.submit()"/>
                    <input type="button" value="Загрузити Фото"
                           onclick="document.getElementById('selectedFile').click();"/>
                </form>
            </td>
            <td>Name</td>
            <td><div th:text="${user.firstname} + ' ' + ${user.lastname}"></div></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><div th:text="${user.email}"></div></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><div th:text="${#dates.format(user.dob, 'dd-MM-yyyy')}"></div></td>
        </tr>

        </tr>
    </table>
</div>
</body>
</html>