<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <table>
        <tr>
            <td rowspan="3">
                <div th:if="${user.photo == null}"><img src="/images/220px-User_icon_2.svg.png"></div>
                <div th:unless="${user.photo == null}"></div>
                <p align="center">
                    <input type="file" id="selectedFile" style="display: none;" onchange="location.href='uploadPhoto';"/>
                    <input type="button" value="Загрузити Фото" onclick="document.getElementById('selectedFile').click();" />
                </p>
            </td>
            <td>Name</td>
            <td><span th:text="${user.firstname}"></span> <span th:text="${user.lastname}"></span></td>
        </tr>
        <tr><td>Email</td><td><span th:text="${user.email}"></span></td></tr>
        <tr><td>Birthday</td><td><span th:text="${user.dob}"></span></td></tr>

        </tr>
    </table>
</body>
</html>